/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styling */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.padding {
    padding: 60px 32px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Header */

.header {
    background-color: #22396a;
    padding: 16px 0;
    color: white;
}

.brand img {
    width: 140px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left: 20px;
}

.nav a img {
    vertical-align: middle;
}

.nav a span {
    margin-right: 8px;
    vertical-align: middle;
}

/* Sidebar */

.sidebar {
    background-color: #a3caea;
    padding: 32px;
    flex: 0 1 30%;
    align-self: stretch;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.sidebar-nav {
    display: flex;
    flex-direction: column;
}

.sidebar-nav a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 16px;
    border-radius: 8px;
}

.sidebar-nav a img {
    vertical-align: middle;
    margin-right: 12px;
}

.sidebar-nav .active {
    border: 2px solid orangered;
    padding: 10px;
    color: orangered;
}

.logout-btn {
    border: 0;
    box-shadow: none;
    padding: 16px 32px;
    background-color: whitesmoke;
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    border-radius: 8px;
    text-align: left;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.logout-btn img {
    margin-right: 10px;
    vertical-align: middle;
}

/* Article */

.article {
    flex: 0 1 65%;
    background-color: #dae3ea;
    padding: 32px;
    margin: 0 20px;
    border-radius: 15px;
}


.heading {
    font-size: 32px;
    font-weight: 700;
    color: black;
    margin: 16px 0;
}

.content {
    font-size: 16px;
    line-height: 1.7;
    color: black;
    margin-bottom: 12px;
}

.read-more {
    padding: 10px 22px;
    background-color: #30ba66;
    color: white;
    font-size: 18px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 0 4px 12px rgb(49, 187, 102, 0.74);
    margin-top: 24px;
}

/* Footer */

.footer {
    background-color: #222946;
    padding: 25px;
    color: white;
    font-size: 16px;
    margin-top: 30px
}

.footer-nav {
    font-size: 18px;
    color: white;
    margin-right: 10px;
}