/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Custom Styling */


/* font-family: 'Roboto', sans-serif; */


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    line-height: 1.5;
}

/* General */

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 32px;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col {
    flex: 0 1 50%;
}

.col-left {
    padding-right: 50px;
    border-right: 1px solid #b3a0bc;
}

.col-right {
    padding-left: 50px;
}

.btn {
    padding: 8px 26px;
    font-size: 15px;
    display: inline-block;
    margin-top: 18px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 600;
}

.btn-primary {
    background-color: #53bd8b;
    color: white;
}

.btn-secondary {
    border: 1px solid #b3a0bc;
    color: #656665;
}

.padding {
    padding: 80px 0;
}

.heading {
    font-size: 28px;
    color: #656665;
    font-weight: 600;
    margin-bottom: 16px;
}

.text {
    color: #979498;
    line-height: 1.7;
}

/* Header */

.header {
    padding: 16px 0;
    position: absolute;
    width: 100%;
}

.header a {
    text-decoration: none;
    color: white;
    font-size: 18x;
}

.brand h1 {
    font-size: 34px;
    font-weight: 700;
}

.nav a {
    font-size: 15px;
    font-weight: 600;
    margin-left: 10px;
    color: #5ebd8b;
}

/* Hero */

.hero {
    padding: 200px 0 120px 0;
    background: linear-gradient(to right top, #504f78,#7a3f79);
    color: white;
}

.hero-heading {
    font-size: 32px;
    font-weight: 700;
}

.hero-text {
    font-size: 19px;
    font-weight: 500;
    color: #b3a0bc;
}

/* Features Section */

.list p {
    color: #979498;
    margin: 16px 0;
    font-size: 17px;
}

.list i {
    color: #53bd8b;
    margin-right: 12px;
}

/* Blog */

.blog {
    background-color: #e6e9ec;
    border-top: 1.5px solid #d0ccd2;
}

.blog article {
    background-color: white;
    border-bottom: 1.5px solid #d0ccd2;
    margin-bottom: 44px;
}

.col-1-1 {
    flex: 0 1 35%;
    font-size: 0;
}

.col-1-3 {
    flex: 0 1 65%;
    padding: 60px;
}

.col-1-3 p{
    font-weight: 500;
    font-size: 17px;
}

.blog img {
    width: 100%;
}

.blog h4 {
    font-size: 24px;
    color: #656665;
    margin-bottom: 16px;
    font-weight: 700;
}

.center-btn {
    text-align: center;
}

/* Contact */

.form-control {
    display: block;
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #979498;
    margin: 20px 0;
    border-radius: 20px;
}

input.form-control {
    width: 48%;
}

.social {
    display: flex;
    flex-direction: column;
    color: #979498;
    font-size: 16px;
    align-self: flex-start;
}

.social a{
    color: #979498;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 32px;
}

.social i {
    color: #5ebd8b;
    margin-right: 12px;
}

.social address {
    display: flex;
}

/* Footer */

.footer {
    color: #979498;
    padding: 30px 0;
    text-align: center;
    font-size: 14px;
    border-top: 1.5px solid #d0ccd2;
}